#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  position: fixed;
  height: 80px;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  padding-left: 10px;
  vertical-align: middle;
  line-height: 80px;
}

.db-tester {

}

#compose-button {
  float: right;
  font size: 175%;
  line-height: 60px;
  height: 60px;
  width: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid;
  border-color: #C0C0C0;
  border-radius: 10px;
}

#compose-button p {
  margin-bottom: 10px;
}

#compose-button:hover {
  background-color: #F0FFFF;
  color: #00a087;
}